* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.not-found-text {
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: -0.08em;
    text-transform: uppercase;
    color: #333333;
    margin-top: 40px;
    margin-left: 78px;
}

.media-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 120px;
}

.image-container {
    flex: 1;
}

.image-container img {
    min-width: 320px;
    max-width: 546px;
    width: 100%;
    height: auto;
}

.content-container {
    flex: 1;
    max-width: 586px;
    margin: 0 24px;
}

.content-container h1 {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 95px;
    letter-spacing: -0.035em;
    color: #333333;
}

.content-container p {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.035em;
    color: #4F4F4F;
    margin-top: 36px;
    margin-bottom: 64px;
}

.content-container button {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.035em;
    padding: 24px 44px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #333333;
    cursor: pointer;
}

@media (max-width: 1230px) {
    .content-container h1 {
        font-size: 48px;
        line-height: 71px;
    }
    .content-container p {
        font-size: 18px;
        line-height: 27px;
    }
}

@media (max-width: 820px) {
    .media-container {
        flex-direction: column;
        margin: 0;
    }
    .image-container {
        margin: 0 44px;
    }
    .not-found-text {
        margin-top: 20px;
        margin-left: 24px;
        margin-bottom: 24px;
    }
}

.footer-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #BDBDBD;
    padding: 24px 0;
}